* {
  margin: 0;
  padding: 0;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 400px;
  width: 300px;
  background-color: #32474b;
  padding: 20px;
}
.calculator .display_results {
  font-size: 100%;
  width: 100%;
  height: 50px;
}
.calculator .buttons {
  display: flex;
  flex-wrap: wrap;
  height: 330px;
  width: 100%;
}
.calculator .buttons .btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calculator .buttons .btn-row .button {
  font-size: 100%;
  height: 50px;
  width: 60px;
  border-radius: 5px;
}
.calculator .buttons .btn-row .button:focus {
  outline: none;
}
